:root {
    --bg-color: #000;
    --dark-grey: #080808;
    --grey: #1c1c1c;
    --another-grey: #313131;
    --standard-grey: #676767;
    --white: #fff;
    --experiment-color: linear-gradient(to right, #3bc, blue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // background: var(--dark-grey);
    font-family: 'sfProBold';
    padding: 10px 70px;
    align-items: center;
    position: absolute;
    z-index: 2;
    // box-shadow: 0 0 5px #03bcf4,
    //     0 0 10px #03bcf4,
    //     0 0 15px #039cf4;
    // animation: neonLight 4s infinite alternate-reverse;

    a{
        .logo {
            display: flex;
            cursor: pointer;
            width: 100%;
            // flex: 1;
    
            img {
                width: 100%;
            }
        }
    }

    

    .menu {
        display: none;

        // width: 30px;
        // height: 15px;
        .line {
            width: 30px;
            height: 5px;
            margin: 5px;
            border-radius: 10px;
            background: var(--standard-grey);
        }
        // svg:hover{
        //     fill: var(--standard-grey);
        // }
    }

    .nav-items {
        gap: 50px;
        display: flex;

        li {
            a {
                color: #fff;
                font-size: 15px;
                transition: .3s ease-in-out;
            }

            a:hover {
                // animation: glow 2s ease infinite alternate-reverse;
                text-shadow:
                    0 0 0px #03bcf4,
                    0 0 5px #03bcf4,
                    0 0 7px #03bcf4,
                    0 0 10px #03bcf4,
                    0 0 15px #03bcf4,
                    0 0 20px #03bcf4,
                    0 0 25px #03bcf4,
                    0 0 30px #03bcf4;
            }

        }

    }

}

@media only screen and (max-width:1320px) {
    header {
        padding: 10px 60px;
    }
}

@media only screen and (max-width:1200px) {
    header {
        a{
            .logo {
                width: 80%;
            }
        }
        
    }
}

@media only screen and (max-width:991px) {
    header {
        a{
            .logo {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width:765px) {
    header {

        nav {
            // opacity: 0;
            display: none;
        }

        .menu {
            display: block;
            cursor: pointer;
        }
    }
    .active{
        // opacity: 1;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: .5s ease-in-out;
    }
}